{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  {# <div class="row">
    <div class="col">
    <h1>Main headline</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div> #}
  <div class="row">
    <div class="col-sm-2 col-xs-12 col-lg-3"></div>
    <div class="col-sm-8 col-xs-12 col-lg-6">
    <p>
      Welcome to my blog! My name is <a href="detail-page.html">Lynzi Rojas</a> and here, you can read the tales of my adventures on the big, blue sea. I have encountered strange creatures, faraway places, and ascertained incredible knowledge about things that I had no idea existed. My travels have taught me more than you can imagine and I want to share it all with you. 
    </p>
      <ul> 
        {% for entry in entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}      </a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
        {% endfor %}
        {# {% for book in books %}
          <li>{{ book.title }}, {{ book.author }}</li>
        {% else %}
          <li>This would display if the 'books' collection were empty</li>
        {% endfor %} #}
     </ul>
    </div>
    <div class="col-sm-2 col-xs-12 col-lg-3"></div>
  </div>
</div>
{% endblock %}
